:root {
  --black: #000;
  --white: #fff;
  --scroll-to-scale-container-height: 120vh;
}

@font-face {
  font-family: Berfilem;
  src: url(../fonts/DFVNBerfilem/OpenType-PS/DFVN\ Berfilem.otf);
}

@font-face {
  font-family: Geomanist;
  src: url(../fonts/Geomanist/Geomanist-Light.otf);
}

@font-face {
  font-family: Ortica;
  src: url(../fonts/Ortica/desktop/Ortica-Light.otf);
}

* {
  margin: 0;
  padding: 0;
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-size: 2rem;
  background-color: #fff;
  font-family: Berfilem;
  position: relative;
  overflow-x: hidden;
  overscroll-behavior: none;
  /* cursor: none; */
}

a {
  text-decoration: none;
  color: var(--black);
  cursor: none;
}

.content-container {
  margin-top: 12rem;
}

body::-webkit-scrollbar-thumb {
  background-color: var(--black);
}

body::-webkit-scrollbar-thumb:hover {
  background-color: #009697;
}

body::-webkit-scrollbar {
  width: 1rem;
}

/* animation */

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
