.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--black);
  z-index: 5;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  transform: translateY(-100%);
  transition: all cubic-bezier(0.25, 0, 0, 1) 1.2s;
}

.link-container {
  width: fit-content;
  margin: 0.5rem 0;
  max-height: 4vw;
  padding-top: 1rem;
  overflow: hidden;
}

.link-wrapper {
  transition: transform ease 0.5s;
}

.link-wrapper:hover .link {
  transform: translateY(-100%);
}

.link {
  display: block;
  transition: all ease 0.5s;
  font-size: 4vw;
  letter-spacing: 0.2rem;
  color: var(--white);
}
